<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <title>Document</title>
</head>
<body>
  <h1>Assignment 4</h1>
<div class="services">
  <!-- <h2>Creating Services</h2> -->
  <button class="btn btn-info" (click)="getProductlist()"> Get products list</button>
  <input type="text" style="width: 150px" placeholder="Search by id" >
  <input type="text" style="width: 150px" placeholder="Search by Name" >
  
  <button class="btn btn-primary">Search</button>
  <table class="table table-striped">
    <thead class="thead-dark bags">
      <tr>
        <th>Product ID</th>
        <th>Procduct Name</th>
        <th>Cost</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let productObj of arrProducts">
        <td>{{productObj.productId}}</td>
        <td>{{productObj.productName}}</td>
        <td>{{productObj.cost}}</td>
        
      </tr>

    </tbody>
    <button class="btn btn-success">Add Product</button>
    <button class="btn btn-danger">Delete Product</button>
  </table>
</div>

<div  class="services">
  <!-- <h2>Logging Services</h2> -->
  <app-child (messageToEmit)="getMessage($event)"></app-child>
  <br><br>
  Displaying in Parent :{{strdataformchild}}
</div>

<button (click)="testLog()">log test</button>

<!-- <div class="services">

  <h2>Modules </h2>
  <button class="btn btn-info" (click)="getDataFromAnotherComponent()"> Get Data</button><br>
  <p>data sent from student component from student module is :Navnath Kumbhar</p>
</div> -->
</body>
</html>
